<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name = "Mool_Vetan_Mobile" verbose="1">


	<test name="Mool Mobile Dashboard Allowances"> 
			<classes>
				<class name="Testcases.TC_DashboardAddAllowancesTest_001"></class>
			</classes>
	</test>
	 <test name="Mool Mobile DashBoard Apply Leave"> 
			<classes>
				<class name="Testcases.Tc_DashboardApplyLeaveTest_001"></class>
			</classes>
	</test> 
	  <test name="Mool Mobile Dashboard Apply Reimbursement"> 
			<classes>
				<class name="Testcases.TC_DashboardApplyReimbursementTest_001"></class>
			</classes>
	</test> 
	<test name="Mool Mobile Declaration Allowances Page "> 
			<classes>
				<class name="Testcases.TC_DeclarationAllowancesPageTest_001"></class>
			</classes>
	</test> 
	<test name="Mool Mobile Declaration Deduction Page Test"> 
			<classes>
				<class name="Testcases.TC_DeclarationDeductionPageTest_001"></class>
			</classes>
	</test> 
	<test name="Mool Mobile Declaration Taxprojection "> 
			<classes>
				<class name="Testcases.TC_DeclarationTaxprojectionPageTest_001"></class>
			</classes>
	</test> 
	<test name="Mool Mobile Document View Test"> 
			<classes>
				<class name="Testcases.TC_DocumentViewTest_001"></class>
			</classes>
	</test> 

	<test name="Mool Mobile Attendance And Leave Page Test"> 
			<classes>
				<class name="Testcases.TC_AttendanceAndLeavePageTest_001"></class>
			</classes>
	</test> 
	
	<test name="Mool Mobile Profile Page Test"> 
			<classes>
				<class name="Testcases.TC_ProfilePageTest_001"></class>
			</classes>
	</test> 

</suite>